h2 {
    color: #ff6961;
}

h1 {
    color: #96305a;
}

h5 {
    color: #ca678e;
}

.p {
    color: #d3d3d3;
}

.bordec {
    background-color: #f2e8e144;
    border-radius:10px
}

body {
    background-color: #f2e8e13b;
}
